<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="site.css">
    <title>Info</title>
</head>
<body>

<div>
    <div class="main-content">
        <h1>Hello, USER</h1>
        <p>This is INFO page
        <p>
    </div>
    <div class="container">
        <h3>What do you want to do?</h3>
        <ul>
            <li><a href="/about">Go to ABOUT page</a></li>
        </ul>
        <ul>
            <li><a href="/admin">Go to ADMIN page</a></li>
        </ul>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>

</body>
</html>